<div class="character-card">
  <div class="character-card-header">
    <span>{ character.name }</span>
    <AppBadge float="right">
      { character.species.length ? character.species_names.join("/") : "Unknown species" }
    </AppBadge>
  </div>
  <div class="character-card-body">
    <div>
      <strong>
        Born in { character.homeworld_name + (character.homeworld_name === "unknown" ? " planet" : "") }, {
        character.birth_year + (character.birth_year === "unknown" ? " year" : "") }
      </strong>
    </div>
    <div><strong>Gender: </strong>{ character.gender }</div>
    <div><strong>Height: </strong>{ character.height } { character.height === 'unknown' ? '' : 'cm' }</div>
    <div>
      <strong>Mass: </strong>{ character.mass } { character.mass === 'unknown' ? '' : 'kg' }
    </div>
    <div><strong>Eye color: </strong>{ character.eye_color }</div>
    <div><strong>Hair color: </strong>{ character.hair_color }</div>
    <div>
      <strong>Starships: </strong>{ character.starships.length ? character.starships_names.join(',') : "none" }
    </div>
    <div>
      <strong>Vehicles: </strong>{ character.vehicles.length ? character.vehicles_names.join(',') : "none" }
    </div>
    <div>
      <strong>Featured in { character.films.length } {pluralizeFilm(character.films.length)}</strong>
    </div>
    {#if showDate}
    <div class="consulting-date">Consulted in {character.date}</div>
    {/if}
  </div>
</div>

<script>
  export default {
    components: {
      AppBadge: './AppBadge.html',
    },
    helpers: {
      pluralizeFilm(num) {
        return num === 1 ? 'film' : 'films';
      },
    },
    data() {
      return {
        character: Object,
        showDate: false,
      };
    },
    oncreate() {
      const { showDate } = this.get();
      this.set({ showDate });
    },
  };
</script>

<style type="text/postcss">
  .character-card {
    border: 1px solid #4ebf1a;
    border-radius: 3px;
    height: calc(100% - 0.5em);
    margin: 0.5em 1em 0;
    margin-left: 1em;
    margin-right: 1em;
  }
  .character-card-header {
    padding: 0.5em;
    background-color: #4ebf1a;
    display: inline-block;
    width: 100%;
  }
  .character-card-header > span {
    float: left;
    padding: 0.2em;
  }
  .character-card-body {
    padding: 0.5em;
  }
  .consulting-date {
    font-style: italic;
    font-size: smaller;
    padding-top: 0.5em;
  }
</style>